<h1>Editar estacionamientos</h1>

<%= render 'form', estacionamiento: @estacionamiento %>

<%= link_to 'Ver más', @estacionamiento %> |
<%= link_to 'Cerrar', {:controller => "usuario", :action => "PrincipalDue"} %>
