<h1>Registrar nuevo estacionamiento</h1>

<%= render 'form', estacionamiento: @estacionamiento %> 

<%= link_to 'Cerrar', {:controller => "usuario", :action => "PrincipalDue"}, {:class => "btn btn-info input-md"} %>
