<div class="text-center">
	<h1>Alquileres realizados por fecha</h1>
</div>

<table class="table table-bordered">
  <thead class="thead-dark">
  	<tr class="align-center info	">
      <th scope="col">Nombre de estacionamiento</th>
      <th scope="col">Distrito</th>
      <th scope="col">Dirección</th>
      <th scope="col">Fecha</th>
      <th scope="col">Hora</th>
      <th scope="col">Servicio adicional</th>
      <th scope="col">Monto en soles (S/.)</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">Parqueos "El Rápido"</th>
      <td>San Borja</td>
      <td>Av. Las Gradenias 918</td>
      <td>20/01/2019</td>
      <td>19:00</td>
      <td>Ninguno</td>
      <td class="text-right">8.00</td>
    </tr>
    <tr>
      <th scope="row">"Estacionamientos Seguros"</th>
      <td>Santa Anita</td>
      <td>Av. Circunvalación 230</td>
      <td>20/01/2019</td>
      <td>19:00</td>
      <td>Lavado</td>
      <td class="text-right">18.00</td>
    </tr>
    <tr>
      <th scope="row">Parqueos "El Rápido"</th>
      <td>San Borja</td>
      <td>Av. Las Gradenias 918</td>
      <td>20/01/2019</td>
      <td>18:00</td>
      <td>Encerado</td>
      <td class="text-right">18.00</td>
    </tr>
    <tr>
      <th scope="row">Parqueos "El Rápido"</th>
      <td>San Borja</td>
      <td>Av. Las Gradenias 918</td>
      <td>20/01/2019</td>
      <td>17:00</td>
      <td>Encerado</td>
      <td class="text-right">18.00</td>
    </tr>
    <tr>
      <th scope="row">Parqueos "El Rápido"</th>
      <td>San Borja</td>
      <td>Av. Las Gradenias 918</td>
      <td>20/01/2019</td>
      <td>16:00</td>
      <td>Lavado</td>
      <td class="text-right">18.00</td>
    </tr>
    <tr>
      <th scope="row">"Estacionamientos Seguros"</th>
      <td>Santa Anita</td>
      <td>Av. Circunvalación 230</td>
      <td>20/01/2019</td>
      <td>16:00</td>
      <td>Ninguno</td>
      <td class="text-right">8.00</td>
    </tr>
    <tr>
      <th scope="row">Parqueos "El Rápido II"</th>
      <td>San Isidro</td>
      <td>Av. Los Geranios 1520</td>
      <td>19/01/2019</td>
      <td>15:00</td>
      <td>Ninguno</td>
      <td class="text-right">8.00</td>
    </tr>
    <tr>
      <th scope="row">"Estacionamiento Seguros"</th>
      <td>Santa Anita</td>
      <td>Av. Circunvalación 230</td>
      <td>19/01/2019</td>
      <td>15:00</td>
      <td>Lavado</td>
      <td class="text-right">8.00</td>
    </tr>
    <tr>
      <th scope="row">"Estacionamientos Seguros"</th>
      <td>Santa Anita</td>
      <td>Av. Circunvalación 230</td>
      <td>19/01/2019</td>
      <td>13:00</td>
      <td>Lavado, Encerado</td>
      <td class="text-right">28.00</td>
    </tr>
    <tr>
      <th scope="row">Parqueos "El Rápido II"</th>
      <td>San Isidro</td>
      <td>Av. Los Geranios 1520</td>
      <td>19/01/2019</td>
      <td>13:00</td>
      <td>Ninguno</td>
      <td class="text-right">8.00</td>
    </tr>
  </tbody>
</table>


