<div class="row text-center">
	<h1>Historial de Alquileres</h1>
</div>

<table class="table table-bordered">
  <thead class="thead-dark">
  	<tr class="align-center info">
      <th scope="col">Fecha</th>
      <th scope="col">Hora</th>
      <th scope="col">Servicio adicional</th>
      <th scope="col">Monto en soles (S/.)</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">20/01/2019</th>
      <td>19:00</td>
      <td>Ninguno</td>
      <td class="text-right">8.00</td>
    </tr>
    <tr>
      <th scope="row">20/01/2019</th>
      <td>19:00</td>
      <td>Lavado</td>
      <td class="text-right">18.00</td>
    </tr>
    <tr>
      <th scope="row">20/01/2019</th>
      <td>18:00</td>
      <td>Encerado</td>
      <td class="text-right">18.00</td>
    </tr>
    <tr>
      <th scope="row">20/01/2019</th>
      <td>17:00</td>
      <td>Encerado</td>
      <td class="text-right">18.00</td>
    </tr>
    <tr>
      <th scope="row">20/01/2019</th>
      <td>16:00</td>
      <td>Lavado</td>
      <td class="text-right">18.00</td>
    </tr>
    <tr>
      <th scope="row">20/01/2019</th>
      <td>16:00</td>
      <td>Ninguno</td>
      <td class="text-right">8.00</td>
    </tr>
    <tr>
      <th scope="row">20/01/2019</th>
      <td>15:00</td>
      <td>Ninguno</td>
      <td class="text-right">8.00</td>
    </tr>
    <tr>
      <th scope="row">20/01/2019</th>
      <td>15:00</td>
      <td>Lavado</td>
      <td class="text-right">8.00</td>
    </tr>
    <tr>
      <th scope="row">20/01/2019</th>
      <td>13:00</td>
      <td>Lavado, Encerado</td>
      <td class="text-right">28.00</td>
    </tr>
    <tr>
      <th scope="row">20/01/2019</th>
      <td>13:00</td>
      <td>Ninguno</td>
      <td class="text-right">8.00</td>
    </tr>
  </tbody>
</table>


<div class="container">
	<div class="row text-center">
		<h2>Comentarios</h2>
	</div>
	<div class="media">
		<br>
		<div class="media-left">
			<%= image_tag "Usuario01.jpg", size:"70x80" %>
		</div>
		<div class="media-body">
			<h4 class="media-heading">John Doe <small><i>Publicado el 12 de Enero del 2019</i></small></h4>
			<br>
			<p>Muy buen servicio, me atendieron de forma muy cordial. Lo recomeindo.</p>
		</div>
	</div>
	<!-- Right-aligned -->
	<div class="media">
		<br>
		<div class="media-left">
			<%= image_tag "Usuario02.jpg", size: "70x80" %>
		</div>
		<div class="media-body">
			<h4 class="media-heading">Sara Perez<small><i>Publicado el 5 de Enero del 2019</i></h4>
			<br>
			<p>Me atendieron de forma rápida y respetuosa, es uno de los mejores estacionamientos a los que hé asistido.</p>
		</div>
	<div class="media">
		<br>
		<div class="media-left">
			<%= image_tag "Usuario03.jpg", size:"70x80" %>
		</div>
		<div class="media-body">
			<h4 class="media-heading">Jorge Muñoz<small><i>Publicado el 2 de Enero del 2019</i></small></h4>
			<br>
			<p>Cuando llegué el lugar seguía ocupado, tuve que esperar unos minutos. Pero el servicio fue muy agradable.</p>
		</div>
	</div>
	</div>
