

<div class="block">
	<br>
	<br>
<h1>Nosotros</h1>
<div class="texti">Parkking busca solucionar el deficit de estacionamientos en Lima a través de una plataforma virtual que ponga en marcha un mercado colaborativo en el que los dueños de estacionamientos alquilen sus espacios y los conductores puedan facilmente buscar, encontrar, pagar y estacionar</div>
</div>


  <div class="container">
   		<div class="row">
   			<div class="col-lg-12">
   				 <br>
   				<center>
   				<img class="d-block w-12" src="/assets/equipo.jpeg" alt="First slide">
   				</center>
   				<br>

                <div class="title">¿Quiénes somos?</div>

                <br>
                <div class="text">Parkking está conformado por emprendedores que tuvieron la visión de una ciudad sin tráfico y que estacionar no sea una pesadilla. Somos un equipo dinámico y joven que busca ayudarte a encontrar un estacionamiento si eres un conductor o generar un ingreso adicional si tienes un estacionamiento libre.</div>
   			</div>
   			 <br>
   			<div class="col-lg-12">
   				</center>
   				<img class="d-block w-3" src="/assets/nosotros.jpeg" alt="First slide">
   				<br>
                <div class="title">Mision y Compromiso</div>
                <br>
                <div class="text">Parkking está conformado por emprendedores que tuvieron la visión de una ciudad libre de tráfico y la pesadilla de estacionar. Así nació Parkking,  que tiene como objetivo conectar personas que tiene un estacionamiento disponible, con otras que necesitan estacionar. Parkking busca dar libertad a la vida de sus usuarios, presentandoles una forma fácil y segura de encontrar donde estacionar o generar un ingreso adicional. 

				El objetivo principal de Parkking a corto y mediano plazo es dar a sus usuarios el poder de elegir entre miles de estacionamientos mensuales, ofreciendo a los dueños de estacionamientos la forma más sencilla de ganar dinero alquilando su estacionamiento. En ese sentido, la misión última de Parkner es crear una verdadera economía compartida inspirada en una red de confianza y los valores nucleares de nuestra organización:

				Desarrollarnos con honestidad y transparencia;
				Perseverar hasta alcanzar nuestras metas;
				Permanecer comprometidos a la solución de problemas de manera proactiva;
				Mantener la mente abierta a nuevos retos y soluciones; y,
				Estar siempre felices de hacer lo que hacemos.
				En esta línea de ideas, el objetivo de Parkking a largo plazo es llevar esa plataforma de confianza al siguiente nivel, facilitando a los dueños de estacionamientos poner sus cocheras a disposición de conductores “al paso”, brindando una alternativa sencilla y segura a los estacionamientos “por hora”, de manera que siempre tengas donde estacionar, vayas a donde vayas.

				¿Qué esperas? Busca, Reserva y Estaciona, y juntos lograremos solucionar el problema de encontrar estacionamiento.</div>

   			</div>
   		</div>
   </div>