<h1 class="text-center">Editar Servicios Adicinale</h1>

<%= render 'form', serv_adicinale: @serv_adicinale %>

<%= link_to 'Ver más', @serv_adicinale %> |
<%= link_to 'Atrás', serv_adicinales_path %>
